<body>
        <h1>Watch a Movie!</h1>

        <form>
            <br>
            <input type="text" name="addMovie" id="movieInput" placeholder="Add a Movie!">
            <br>
            <br>
            <button type="button" class="btn btn-default" id="submitButton">Submit</button>
        </form>

        <div id="movie2watch">
            <h3>Movies to Watch</h3>
        </div>

        <div id="moviewatched">
            <h3>Movies Watched</h3>
        </div>

    </body>
        <h1>Watch a Movie!</h1>

        <form>
            <br>
            <input type="text" name="addMovie" id="movieInput" placeholder="Add a Movie!">
            <br>
            <br>
            <button type="button" class="btn btn-default" id="submitButton">Submit</button>
        </form>

        <div id="movie2watch">
            <h3>Movies to Watch</h3>
        </div>

        <div id="moviewatched">
            <h3>Movies Watched</h3>
        </div>

    </body>